<mat-card class="contact-card">
  <mat-card-header class="contact-card__header">
    <mat-card-title class="contact-card__header-identity">
      <mat-icon class="contact-card__header-icon" [style.color]="iconColor">face</mat-icon>
      {{ name }}
    </mat-card-title>
    <div class="contact-card__header-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit.emit(contact?.id)">
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="delete.emit(contact?.id)">
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="contact-card__content">
    <p>
      <mat-icon>smartphone</mat-icon>:
      {{contact?.phoneNumber}}
    </p>
    <p *ngIf="contact?.contactEmail">
      <mat-icon>mail</mat-icon>:
      {{ contact?.contactEmail }}</p>
  </mat-card-content>
</mat-card>
